@font-face {
    font-family: "IranYekan";
    src: url(/assets/font/IRANYekanWebRegular.ttf);
}

@layer base {
    body {
        font-family: "IranYekan";
    }
}

@layer components {
    .btn {
        @apply ;
    }
}