@font-face {
    font-family: "IranYekan";
    src: url(/assets/font/IranYekan/IRANYekanWebRegular.ttf);
}
@font-face {
    font-family: "Pinar";
    src: url(/assets/font/Pinar/Pinar-VF.ttf);
}

@layer base {
    body {
        font-family: "IranYekan";
    }
}

@layer components {
    .btn {
        @apply ;
    }
}